.banner {
    margin-top: 100px;
    padding: 60px 0 100px 0;
    background: #2b2a2a;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}
.cv{
    border: 1px solid #ffb400;
    padding: 13px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffb400;
    font-size: 18px;
    transition: .3s ease;
    position: relative;
    z-index: 3;
}
.cv::after{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: #ffb400;
    z-index: -1;
    transform: scale(0);
    transition: .3s ease;
}
.cv:hover::after{
    transform: scale(1);
}
.cv:hover{
    color: #fff;
    border-color: #fff;
}
.banner h1 {
    font-size: 50px;
    color: #ffb400;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}

.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner button:hover svg {
    margin-left: 25px;
}

.banner img {
    border-radius: 50%;
    margin: 20px auto;
}

.txt-rotate>.wrap {
    border-right: 0.08em solid #666;
}

@media only screen and (max-width: 576px) {
    body {
        max-width: 570px;
        margin: 0 auto;
    }

    .banner .tagline {
        font-size: 10px;
    }

    .banner h1 {
        font-size: 20px;
    }

    .banner p {
        text-align: justify;
        max-width: 500px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 990px) {
    body {
        max-width: 760px;
        margin: 0 auto;
    }

    .banner h1 {
        font-size: 20px;
    }

    .banner p {
        text-align: justify;
        max-width: 500px;
        margin: 0 auto;
    }

}